.dotted {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0, 0.3), rgba(255,255,255, .2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 15px 15px;
  }

html {
}

body {
  font-family: 'Roboto', sans-serif;
}

.form-control::-webkit-input-placeholder { color: #4183D7; }
.form-control:-moz-placeholder { color: #4183D7; }
.form-control::-moz-placeholder { color: #4183D7; }
.form-control:-ms-input-placeholder { color: #4183D7; }
