.title {
  color: white;
  background-color: #4DBE93;
  font-family: 'Lobster', cursive;
}

.centered{
  text-align: center;
}

.stream{
  margin-top: 5em;
}

.fp-ui > .fp-controls
{
    visibility: visible;
}

.stream {
  visibility: hidden;
}
