.title {
  color: white;
  background-color: #4DBE93;
  font-family: 'Lobster', cursive;
}

.centered{
  text-align: center;
}

.stream {
  visibility: hidden;
}

.controls {
  margin-top: 5em;
}

.controls > .btn {
  font-size: 5em;
}

.flowplayer .fp-engine {
  height: 1000px;
  width: 1000px;
}
