<link rel="stylesheet" type="text/css" href="app/main/main.css" />

<div class="jumbotron title centered">
  <h1>Radio Free Twitch</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 centered">
      <div class="input-group input-group-lg">
          <div class="input-group-addon" id="sizing-addon1">https://twitch.tv/</div>
          <input type="text" class="form-control" placeholder="streamer" aria-describedby="sizing-addon1" ng-model="streamer">
          <div class = "input-group-btn">
            <button class="btn btn-default" type="button" ng-click="getStream()">Go!</button>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
      <div class="controls">
        <button class="btn btn-default" ng-click="togglePlayer()">
          <span class="glyphicon glyphicon-play-circle"></span>
        </button>
      </div>
      <div id="player" class="stream fixed-controls"></div>
    </div>
  </div>
</div>
