.title {
  color: white;
  background-color: #4DBE93;
  font-family: 'Lobster', cursive;
}

.centered{
  text-align: center;
}


/*.fp-ui > .fp-controls
{
    visibility: visible;
}*/

.stream {
  visibility: hidden;
}

.controls {
  margin-top: 5em;

}

.controls > .btn {
  font-size: 5em;
}
